body {
    color: slateblue;
    margin: auto;
    
}

A:hover{
    text-decoration:none !important;
}


table{
    color: slateblue;
    background-color:rgb(219, 213, 213);
    margin: auto;
    width: 1000px;
}



td{
    font-size: 20px;
    margin-right: auto;
}



.col{
    margin-right: auto;
    width: 15%
}

.cl{
    position: initial;
    margin-right: auto;
    width: 7.6%;
}

.c{
    position: initial;
    margin-right: auto;
    width: 6.4%;
}



