<table>
    <tr>
        <td>Milamin</td>
        <td><a href="/" class="text-secondary">home</a></td>
        <td><a href="/about" class="text-secondary">about</a></td>
        <td><a href="/id" class="text-secondary">id</a></td>
            
        <td class="col"><input type="login" class="form-control" id="inputEmail" placeholder="Login"></td>
        <td class="col"><input type="password" class="form-control" id="inputPassword" placeholder="Password"></td>
        <td class="cl"><button type="button" class="btn btn-outline-secondary">sign in</button></td>
        <td class="c"><button type="button" class="btn btn-outline-secondary">login</button></td>
    </tr> 
</table>